/* 猜你喜欢 */
.guess-u-like {
	display: flex;
	flex-direction: column;
}
.guess-u-like-movie {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30upx 20upx;
	
	border-bottom: dashed 2px;
	border-bottom-color: #dbdbda;
}
.like-movie {
	width: 180upx;
	height: 240upx;
	border-radius: 3%;
	margin-left: 60upx;
}
.movie-desc {
	width: 340upx;
	display: flex;
	flex-direction: column;
	margin-top: 20upx;
	margin-right: 60upx;
}
.movie-title {
	/* 过长的名字添加省略号 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 10upx;
}
.movie-info {
	color: #808080;
	font-size: 14px;
	margin-top: 10upx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 点赞css */
.movie-oper {
	width: 140upx;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.praise-ico {
	width: 40upx;
	height: 40upx;
	align-self: center;
}

.praise-gray-txt {
	font-size: 14px;
	color: #grey;
	align-self: center;
}
.praise-txt {
	font-size: 14px;
	color: #feab2a;
	align-self: center;
}

.animation-opacity {
	opacity: 0;
}

.praise-font {
		font-size: 12px;
		color: grey;
		margin-left: 8upx;
	}